n8n_workflow.json

{
  "name": "AI Financial Agent (Production)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        380,
        340
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.audio.data }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "check-if-audio",
      "name": "Is Audio?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        340
      ]
    },
    {
      "parameters": {
        "jsCode": "const audioData = $input.item.json.body.audio.data;\n// Only process if data exists\nif (!audioData) return { json: {} };\n\nreturn {\n  binary: {\n    data: {\n      data: audioData,\n      mimeType: $input.item.json.body.audio.mimeType || 'audio/ogg',\n      fileName: 'voice_message.ogg'\n    }\n  },\n  json: $input.item.json\n};"
      },
      "id": "convert-audio",
      "name": "Prepare Audio File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        200
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "data",
        "options": {
          "language": "fa"
        }
      },
      "id": "openai-whisper",
      "name": "OpenAI Whisper",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        1040,
        200
      ],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "json",
        "jsonOutput": "={\n  \"user_message\": \"{{ $json.text ? $json.text : $('Webhook').item.json.body.message }}\",\n  \"user_role\": \"{{ $('Webhook').item.json.body.user.role }}\",\n  \"user_name\": \"{{ $('Webhook').item.json.body.user.fullName }}\"\n}"
      },
      "id": "merge-data",
      "name": "Merge Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1260,
        340
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "responseFormat": "json_object",
          "temperature": 0.3
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a highly capable Financial Assistant Agent. \nYour output MUST be a valid JSON object. No markdown, no pre-text.\n\n### SCHEMAS\n\n1. **General Chat / Unknown:**\n{\n  \"type\": \"message\",\n  \"text\": \"Your response in Persian\"\n}\n\n2. **Tool Call (Actions):**\n{\n  \"type\": \"tool_call\",\n  \"tool\": \"TOOL_NAME\",\n  \"args\": { ... }\n}\n\n### TOOLS DEFINITIONS\n\n- `get_financial_summary`\n  - Triggers: report, status, cartable, what is pending, summary.\n  - Args: {} (empty)\n\n- `manage_order`\n  - Triggers: approve order X, reject order Y.\n  - Args: \n    - trackingNumber: number\n    - action: \"approve\" | \"reject\"\n    - reason: string (optional, mainly for rejection)\n\n- `register_payment_order`\n  - Triggers: pay X to Y, register payment, new order.\n  - Args:\n    - payee: string\n    - amount: number (extract numeric value)\n    - description: string\n    - company: string (optional)\n\n- `search_trade_file`\n  - Triggers: search file X, status of import Y.\n  - Args: { query: string }\n\n### CONTEXT\nUser: {{ $json.user_name }} (Role: {{ $json.user_role }})\nMessage: {{ $json.user_message }}"
            }
          ]
        }
      },
      "id": "openai-chat",
      "name": "OpenAI Chat (Agent)",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        1480,
        340
      ],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "try {\n    // 1. Get raw content from OpenAI\n    // In JSON Mode, it's usually inside message.content\n    let raw = $input.item.json.message?.content || $input.item.json.text;\n    \n    // 2. Parse it\n    if (typeof raw === 'string') {\n        raw = JSON.parse(raw);\n    }\n    \n    // 3. Validation: Ensure 'type' exists\n    if (!raw.type) {\n        // Fallback if AI hallucinated a bad format\n        return {\n            json: {\n                type: 'message',\n                text: typeof raw === 'string' ? raw : JSON.stringify(raw)\n            }\n        };\n    }\n\n    return { json: raw };\n    \n} catch (error) {\n    // 4. Catastrophic Failure Handler\n    // If OpenAI returns invalid JSON or something breaks, return a safe error message\n    return {\n        json: {\n            type: 'message',\n            text: \"خطا در پردازش هوش مصنوعی. لطفاً دوباره تلاش کنید.\"\n        }\n    };\n}"
      },
      "id": "sanitize-json",
      "name": "Sanitize Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1700,
        340
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "webhook-response",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1920,
        340
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Is Audio?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Audio?": {
      "main": [
        [
          {
            "node": "Prepare Audio File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Audio File": {
      "main": [
        [
          {
            "node": "OpenAI Whisper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Whisper": {
      "main": [
        [
          {
            "node": "Merge Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Context": {
      "main": [
        [
          {
            "node": "OpenAI Chat (Agent)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat (Agent)": {
      "main": [
        [
          {
            "node": "Sanitize Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sanitize Output": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
