n8n_workflow.json

{
  "name": "AI Financial Agent (Voice Enabled)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        380,
        340
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.audio.data }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "check-if-audio",
      "name": "Is Audio?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        340
      ]
    },
    {
      "parameters": {
        "jsCode": "const audioData = $input.item.json.body.audio.data;\nconst binaryData = Buffer.from(audioData, 'base64');\n\nreturn {\n  binary: {\n    data: {\n      data: audioData,\n      mimeType: $input.item.json.body.audio.mimeType || 'audio/ogg',\n      fileName: 'voice_message.ogg'\n    }\n  },\n  json: $input.item.json\n};"
      },
      "id": "convert-audio",
      "name": "Prepare Audio File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        240
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "data",
        "options": {
          "language": "fa"
        }
      },
      "id": "openai-whisper",
      "name": "OpenAI Whisper",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        1040,
        240
      ],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a smart financial assistant for a company. \nThe user communicates via text or voice. They have a specific role (e.g., admin, financial, manager). \n\nYour goal is to decide what action to take based on the user's intent and return a RAW JSON object. \n\nIMPORTANT: \n1. Return ONLY the JSON object. \n2. Do NOT use markdown code blocks (like ```json). \n3. Do NOT add any conversational text outside the JSON.\n\n### Report / Cartable Requests\nIf the user asks for 'report', 'status', 'cartable', 'my tasks', or 'summary':\nCall the `get_financial_summary` tool. The server will handle filtering the report based on the user's role automatically.\nExample output:\n{\n  \"type\": \"tool_call\",\n  \"tool\": \"get_financial_summary\",\n  \"args\": {}\n}\n\n### Approve / Reject Order\nIf the user wants to approve or reject an order (e.g., \"approve 1605\", \"reject 1602 because...\"):\n{\n  \"type\": \"tool_call\",\n  \"tool\": \"manage_order\",\n  \"args\": {\n    \"trackingNumber\": 1605,\n    \"action\": \"approve\" (or \"reject\"),\n    \"reason\": \"Optional reason if rejected\"\n  }\n}\n\n### Register Payment\nIf the user wants to register a payment:\n{\n  \"type\": \"tool_call\",\n  \"tool\": \"register_payment_order\",\n  \"args\": {\n    \"payee\": \"Name\",\n    \"amount\": 100000,\n    \"description\": \"Reason\",\n    \"company\": \"Optional\"\n  }\n}\n\n### General Chat\nIf no tool matches:\n{\n  \"type\": \"message\",\n  \"text\": \"Response in Persian...\"\n}\n\nUser Message: {{ $json.text ? $json.text : $json.body.message }}\nUser Role: {{ $json.body ? $json.body.user.role : $('Webhook').item.json.body.user.role }}"
            }
          ]
        },
        "jsonOutput": false
      },
      "id": "openai-chat",
      "name": "OpenAI Chat",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        1260,
        340
      ],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get raw content safely\nconst inputItem = $input.item.json;\nlet content = \"\";\n\n// OpenAI Node with jsonOutput: false returns message.content\nif (inputItem.message && inputItem.message.content) {\n  content = inputItem.message.content;\n} \n// Fallback if structure changes\nelse if (inputItem.text) {\n  content = inputItem.text; \n} else if (typeof inputItem === 'string') {\n  content = inputItem;\n} else {\n  // Try to find any string property or stringify\n  content = JSON.stringify(inputItem);\n}\n\n// Clean Markdown and Extract JSON\nlet cleanContent = content;\nif (typeof content === 'string') {\n  // Remove code blocks\n  cleanContent = content.replace(/```json\\s?|```/g, '').trim();\n  \n  // Find first { and last } to extract JSON if there is noise around it\n  const firstBrace = cleanContent.indexOf('{');\n  const lastBrace = cleanContent.lastIndexOf('}');\n  if (firstBrace !== -1 && lastBrace !== -1 && lastBrace > firstBrace) {\n      cleanContent = cleanContent.substring(firstBrace, lastBrace + 1);\n  }\n}\n\ntry {\n  const parsed = JSON.parse(cleanContent);\n  // Ensure it's not just a random string parsed as token\n  if (typeof parsed === 'object' && parsed !== null) {\n      return { json: parsed };\n  }\n  throw new Error(\"Not an object\");\n} catch (e) {\n  // Fallback: Return as a simple text message\n  return { \n    json: { \n      type: 'message', \n      text: content || \"خطا در دریافت پاسخ معتبر از هوش مصنوعی.\" \n    } \n  };\n}"
      },
      "id": "sanitize-output",
      "name": "Sanitize JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1480,
        340
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "webhook-response",
      "name": "Respond to App",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1700,
        340
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Is Audio?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Audio?": {
      "main": [
        [
          {
            "node": "Prepare Audio File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OpenAI Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Audio File": {
      "main": [
        [
          {
            "node": "OpenAI Whisper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Whisper": {
      "main": [
        [
          {
            "node": "OpenAI Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat": {
      "main": [
        [
          {
            "node": "Sanitize JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sanitize JSON": {
      "main": [
        [
          {
            "node": "Respond to App",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
